<div class="col-lg-4 col-md-4 col-sm-4">
  <h3>Plan for Day 1</h3>
  <ul>
    <li> 
      <h4>Hotel</h4>
      <ul class="nodecorationstuffs">
        <li>Hotel Andreaz</li>
      </ul>
    </li>
    <li> 
      <h4>Things to Do</h4>
      <ul class="nodecorationstuffs">
        <li>Statue of Liberty</li>
        <li>Wall Street Bull</li>
        <li>South Street Seaport</li>
      </ul>
    </li>
    <li> 
      <h4>Restaurants</h4>
      <ul class="nodecorationstuffs">
        <li>Taco Bell</li>
        <li>Papa Johns</li>
      </ul>
    </li>
  </ul>
</div>