{% extends "layout.html" %}

{% block content %}


<div class="container">
	<div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Day 1</button>
        <button type="button" class="btn btn-default">Day 2</button>
        <button type="button" class="btn btn-default">Day 3</button>
      </div>
      <button type="button" class="btn btn-default">+ Add Day</button>
    </div>
    <!-- <div class="col-lg-1"> </div> -->
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h3>Hotels</h3>
          <form class="form-inline">
	          <select class="form-control">
	            <option>Red</option>
	            <option>Blue</option>
	            <option>Green</option>
	          </select>
	          <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h3>Things to do</h3>
          <form class="form-inline">
            <select class="form-control">
              <option>Red</option>
              <option>Blue</option>
              <option>Green</option>
            </select>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h3>Restaurants</h3> 
          <form class="form-inline">
            <select class="form-control">
              <option>Red</option>
              <option>Blue</option>
              <option>Green</option>
            </select>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div> <!-- inner row -->
    </div>
  </div> <!-- top row -->
</div> <!-- container -->

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>Plan for Day 1</h3>
      <ul>
        <li> 
          <h4>Hotel</h4>
          <ul class="nodecorationstuffs">
            <li>Hotel Andreaz</li>
          </ul>
        </li>
        <li> 
          <h4>Things to Do</h4>
          <ul class="nodecorationstuffs">
            <li>Statue of Liberty</li>
            <li>Wall Street Bull</li>
            <li>South Street Seaport</li>
          </ul>
        </li>
        <li> 
          <h4>Restaurants</h4>
          <ul class="nodecorationstuffs">
            <li>Taco Bell</li>
            <li>Papa Johns</li>
          </ul>
        </li>
      </ul>
    </div>
<div class="col-lg-8 col-md-8 col-sm-8" id="map-canvas">

</div>


  </div> <!-- bottom row -->
</div> <!-- container -->




























<script>

{% autoescape false %}
var all_hotels = {{ hotels | json }};
var all_restaurants = {{ restaurants | json }};
var all_things_to_do = {{ things_to_do | json }};
{% endautoescape %}

</script>


{% endblock %}

